<div class="container">
    <form class="form-horizontal" role="form" method="post" ng-submit="updateConfiguration()" name="configForm">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading" style="background: black; color:white">Real-Debrid</div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="rd_username" class="col-md-3 control-label">Username</label>

                        <div class="col-md-9">
                            <input type="text" class="form-control" id="rd_username" placeholder="Username">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="rd_password" class="col-md-3 control-label">Password</label>

                        <div class="col-md-9">
                            <input type="password" class="form-control" id="rd_password" placeholder="Password">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading" style="background-color:#5cb85c ; color:white">Tv Shows</div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="ts_root" class="col-md-3 control-label">Root path</label>

                        <div class="col-md-9">
                            <input type="text" class="form-control" id="ts_root" placeholder="Path">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="ts_format" class="col-md-3 control-label">File format</label>

                        <div class="col-md-9">
                            <input type="text" class="form-control" id="ts_format" placeholder="Format">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading" style="background-color:#5cb8b8 ; color:white">Movies</div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="mv_root" class="col-md-3 control-label">Root path</label>

                        <div class="col-md-9">
                            <input type="text" class="form-control" id="mv_root" placeholder="Path">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="mv_format" class="col-md-3 control-label">File format</label>

                        <div class="col-md-9">
                            <input type="text" class="form-control" id="mv_format" placeholder="Format">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
</div>
</div>